.vscode/**
.vscode-test/**
src/**
out/test/**
test/**
scripts/**
images/**
.gitignore
.yarnrc
tsconfig.json
.eslintrc.json
**/*.map
**/*.ts
**/*.code-workspace
CONTRIBUTING.md
TECHNICAL.md
.github/**
**/*.vsix
webpack.config.js
node_modules/**
!node_modules/@types/
